/*
* @Author: Itfallrain
* @Date:   2019-1-119 14:21:42
* @Last Modified by:   Itfallrain
* @Last Modified time: 2019-1-119 16:22:34
*/

@charset "UTF-8";

/*css 初始化 */

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

/*去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}

a {
  color: #666;
  text-decoration: none;
}

/* 自定义滚动条样式 */
.cus-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner {
    background: #f6f6f6;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #999999;
    }
  }
}
